/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #A9B2AC;
    margin: 10%;
}

#headcont {
    background-color: rgba(171, 167, 146, 0.75);
    border: 5px solid #BCD0C7;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#content {
    background-color: rgba(171, 167, 146, 0.75);
    border: 5px solid #BCD0C7;
    border-top: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Tpogtaphy */
p{
    color:rgb(99, 99, 92);
}
a{
color: #7e9368;
text-decoration: none;
}
 h1,h2,h3,h4{
    color: #555f49;
    font-family:'Times New Roman', Times, serif;

}