/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #A9B2AC;
    margin: 0%;
}

#headcont {
    padding-left: 0%;
    background-color: rgba(171, 167, 146, 0.75);
    border: 5px solid #BCD0C7;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#content {
    background-color: rgba(171, 167, 146, 0.75);
    border: 5px solid #BCD0C7;
    border-top: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
#content p{
    text-align: center;
    color: #555f49;
    font-family:'Times New Roman', Times, serif;
}
#imgcard {
    background-color: rgba(11, 58, 21, 0.63);
    padding: 10px;
    width: 400px;   
    height: 306px;
    margin: auto;
}

#imgcard img {
    display: block;
    margin: auto;
}

#imgcard p {
    color: #000000;
    margin: 10px;
    padding: 10px;
}
#imgcardf  {
     background-color: rgba(11, 58, 21, 0.63);
    padding: 1px;
    width: fit-content;
    flex:none;
    margin: 15px;
    width: 350px;   
    height: 450px;
    

}
footer.columns {
    display: flex;
    justify-content: center;
}
/* Tpogtaphy */
p{
    color:rgb(99, 99, 92);
}
a{
color: #7e9368;
text-decoration: none;
}
 h1,h2,h3,h4{
    text-align: center;
    color: #555f49;
    font-family:'Times New Roman', Times, serif;

}
#imgcardf h2{
    color:black;
} 
/* Layout */
@media (min-width: 900px) {
    .columns {
    display: flex;
    }
    .bottomrow {
    display: flex;}
    .one{
        flex: 1;
    }
    .two{
        flex: 2;
        text-align: center;
    }
    .three{
        flex: 3;
    }
    .four{
        flex: 4;
    }
    .five{
        flex: 5;
    }
    .six{
        flex: 6;
    }
}
