
    body {
        margin: 0;
        padding: 0;
    body h2 {
            font-size:2rem;    
        font-family: "Berlingske Sans", Arial, Helvetica, sans-serif;
    }

    /*header styles*/
    header{
        background: black;
    }
    header h3,header h2{
        color: white;
        margin: 0;
    }

    #header-social{
        position: absolute;
        left: -15px;
        top: -15px;
        list-style: none;
        
    }
    .bar li:not(:last-child)::after {
    content: "|";
    margin-left: 10px; /* Space before the pipe */
    color: #ccc;       /* Optional: give the pipe a lighter color */
    }
    #header-social li{
        display: inline-block; 
    }
    #header-social a{
        text-decoration: none;
        color: white;
    }
    #header-links {
        background:maroon;
        color: white;
    }
    .image-div img {
    display: block;       
    max-width: 100%;
    padding:15px;
    margin-top:10px;
    }
    .text-pad {
        position: absolute;
        top: 50px;
        right: 5%;
    }
    /* Navigation Styles */
    #nav{
        
        background: rgb(118, 1, 11);
        color: white;
        margin: 0;
        text-align: right;
        text-transform: uppercase;
    
        
    }
    #button button{
        padding: 15px 59px;
        background: rgb(118, 1, 11);
        border:rgb(118, 1, 11);
        cursor: pointer;
        text-transform: uppercase;
    
    }   
    #button button:hover {
        background-color: rgba(116, 0, 0, 0.733);
        transition: background-color 0.3s ease;

    }
    #button p{
        color: white;
    }
    #main-social{ 
        list-style: none;
        display: inline-block;  
        border: 1px solid white;    
    }
    /* Main Styles */
    main P{
        margin: 35  px;
        padding: 35px;
        text-align: center;
    }
    #eduimg{
        position: relative;
    }
    #eduimg img{
        display: block;       
        width: 100%;
       
    }
  
    #edubox{
    position: absolute;
    right: 4%;
    bottom: -27px;
    width: 58%;
    padding: 30px;
    box-sizing: border-box;
    background: rgb(118, 1, 11);
    color: white;
    box-shadow: 0 0 20px 5px rgba(30, 30, 60, .3);
    }
    #person img{
        display: block;
        border-radius: 100%;
    }
  #info {   
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 100px; 

}
#resimg{
        position: relative;
    }
    #resimg img{
        display: block;       
        width: 100%;
    }
#resbox{
    position: absolute;
    width: 48%;
    bottom: -27px;
    padding: 5px;
    box-sizing: border-box;
    background: rgb(118, 1, 11);
    color: white;
    box-shadow: 0 0 20px 5px rgba(30, 30, 60, .3);
}
#resbtn{
    content: center;
    background: black;
    margin: 30px -30px -30px;
    padding: 15px 30px;
    color: white;
    display: block;
    margin: 15px auto;
}

}
    /* Footer Styles */
    #footer-header{
        position: relative;
        background: rgb(118, 1, 11);
        margin: 0;
    }
    #footer-social{
        position: absolute;
        right: 25px;
        list-style: none;
        
    }
    #footer-social li{
        display: inline-block; 
    }
    #footer-social a{
        text-decoration: none;
    }
    #footer-links {
        background: rgb(118, 1, 11);
        color: white;
    }
    #footer-links a{
        color: white;
    }
    #footer-links h3{
        text-transform: uppercase;
    }
    #footer-links .columns section{
        padding:10px
    }
    #footer-links section ul{
        columns: 200px;
        column-gap: 20px;
        padding-left: 0;
        list-style-type: none;
    }

    #footer-links a{
        text-decoration: none;
    }
    #flt {
        width: fit-content;
        align-items: center;
        margin: auto;
    }

    #flt h1, #flt h2{
        margin: 0;
    }
    #footer-copy{
        background: Black;
        color: white;
    }
    #footer-copy a{
        color: white;
    }


    .flex-container {
    display: flex;         
    align-items: center; 
    flex-direction: row;
    width: 50%;
                
    }.columns-mobile{
        display: flex;}
    @media (min-width: 900px) {
        .columns {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        #flt{
            margin:0;
        }
        .one{
            flex: 1;
        }
        .two{
            flex: 2;
        }
        .three{
            flex: 3;
        }
        .four{
            flex: 4;
        }
        .five{
            flex: 5;
        }
        .six{
            flex: 6;
        }
    }
}