/*style*/
body{
    background-color: rgba(0, 100, 0, 0.527);
}   
#headcont h1,h3{
    text-align: center;
}
.card{  
    text-align: center;
    background-color: darkgreen;
    border: 5px solid black;
    margin: 0px;    
    min-height: 300px;

}
#p-message {
  display: none;
  position: relative;
  background-color: white;
  border: 5px solid black;
  border-radius: 50px;
  padding: 15px;
}
#p-message::after{
       content: " ";
    transform: rotate(-45deg);
    position: absolute;
    bottom: -23.5px;
    right: -19px;
    border-width: 35px 12px 0;
    border-style: solid;
    border-color: black transparent transparent;
}
#img-click{
    position: relative;
}
#img-click img{
    max-width: 100%;
}
#sticker{
    position:absolute;
    top:800px;
    right:444px;
}
footer{
    text-align: center;
}
/* Layout */
@media (min-width: 768px) {
    .columns {
    display: flex;
    }
.card{
    margin: 5px;
    }
#sticker{
    position:absolute;
    top:180px;
    right:250px;
}
footer.columns{
    justify-content: center;
}
    .one{
        flex: 1;
    }
    .two{
        flex: 2;
       
    }   
    .three{
        flex: 3;
    }
    .four{
        flex: 4;
    }
    .five{
        flex: 5;
    }
    .six{
        flex: 6;
    }
}