/* Structural */
body{
background-color: #334139;
margin: 1%;
}

#headcont{
padding: 5px;
width: auto;
background-color: #1E2D24;
border: 5px solid #151f19;
margin: 0%;
}

#content{
padding: 5px;
background-color: #1E2D24;
border: 1px solid rgba(30, 45, 36,30%);
width: auto;
margin: 0%;
border: 5px solid #151f19;
}

/* Tpogtaphy */
h1,h2,h3{
    color:#98458b;
}
p{
    color:#F9B4ED;
}
#realtable{
    color:#ff00d4;
    background-color: #faebd7;
    border: 5px soild black;
}
img {
    border: 2px solid #C52184;
}